<ion-header>
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <app-input
      formControlName="email"
      type="email"
      label="Correo electrónico"
      placeholder="Ingresa tu correo"
      [required]="true">
    </app-input>

    <app-input
      formControlName="password"
      type="password"
      label="Contraseña"
      placeholder="Ingresa tu contraseña"
      [required]="true">
    </app-input>

    <ion-button
      type="submit"
      expand="block"
      [disabled]="loginForm.invalid">
      Iniciar Sesión
    </ion-button>

    <div class="ion-text-center ion-margin-top">
      <ion-button 
        routerLink="/register"
        fill="clear"
        color="dark"
        expand="block">
        ¿No tienes cuenta? Regístrate
      </ion-button>
    </div>
  </form>
</ion-content>